doctype html
html(manifest='cache.appcache')
	head
		title Procalc
		link(rel='stylesheet prefetch' href='style.css')
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable" content="yes")
	body
		.disp 0
		.keys
			.row
				.col 7
				.col 8
				.col 9
				.col +
			.row
				.col 4
				.col 5
				.col 6
				.col -
			.row
				.col 1
				.col 2
				.col 3
				.col ×
			.row
				.col ©
				.col 0
				.col n
				.col ÷
			.row
				.col A
				.col B
				.col C
				.col %
			.row
				.col D
				.col E
				.col F
				.col ±
			.row
				.col G
				.col H
				.col I
				.col J
			.row
				.col K
				.col L
				.col M
				.col N
			.row
				.col O
				.col P
				.col Q
				.col R
			.row
				.col S
				.col T
				.col U
				.col V
			.row
				.col W
				.col X
				.col Y
				.col Z
			.row
				.col &
				.col |
				.col ^
				.col ~
			.row
				.col «
				.col »
				.col ß
				.col ¹
			.row
				.col $
				.col ø
				.col @
				.col ª
		script(src='bigint.js')
		script(src='jquery.js')
		script(src='main.js')