doctype html
html(manifest='cache.appcache')
	head
		title Procalc
		link(rel='stylesheet prefetch' href='style.css')
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable" content="yes")
	body
		.disp 0
		.keys
			.row
				.col.so ǁ
				.col.so ǂ
				.col.so ¤
				.col.so u
			.row
				.col.so ©
				.col.so d
				.col.so @
				.col.so ª
			.row
				.col 1
				.col 2
				.col 3
				.col.ao +
			.row
				.col 4
				.col 5
				.col 6
				.col.ao -
			.row
				.col 7
				.col 8
				.col 9
				.col.ao ×
			.row
				.col.so c
				.col 0
				.col.sp n
				.col.ao ÷
			.row
				.col.an A
				.col.an B
				.col.an C
				.col.ao %
			.row
				.col.an D
				.col.an E
				.col.an F
				.col.ao ±
			.row
				.col.an G
				.col.an H
				.col.an I
				.col.an J
			.row
				.col.an K
				.col.an L
				.col.an M
				.col.an N
			.row
				.col.an O
				.col.an P
				.col.an Q
				.col.an R
			.row
				.col.an S
				.col.an T
				.col.an U
				.col.an V
			.row
				.col.an W
				.col.an X
				.col.an Y
				.col.an Z
			.row
				.col.bo &
				.col.bo |
				.col.bo ^
				.col.ao ß
			.row
				.col.bo «
				.col.bo »
				.col.bo ~
				.col.ao ¹
		script(src='bigint.js')
		script(src='jquery.js')
		script(src='main.js')