*{
	font-family:monospace;
}
body{
	margin:0;
	
}
.disp{
	position:absolute;
	height:20%;
	width:96%;
	top:0;
	right:4%;
	overflow:scroll;
	direction:rtl;
	font-size:15vh;
	white-space:nowrap;
}
.keys{
	position:absolute;
	height:80%;
	width:100%;
	bottom:0;
	overflow-y:scroll;
}
.row{
	height:16.6%;
	width:100%;
	white-space:nowrap;
}
.col{
	display:inline-block;
	width:25%;
	height:100%;
	border:1px solid black;
	text-align:center;
	font-size:10vh;
}